$primaryColor: #885A89;
$Color2: #8AA7A2;
$Color3: #EF7B39;
$Color4: #D1B590;
$Color5: #CBCBD5;
$Color6: #F4F4F4;
$Color7: #FFF;
$Color8: #6A6A6A;
$Color9: #3b3b3b;
$Color10: #7E3485;
$Color11: #E8E8E8;
$Color12: #BFBFBF;
$Color13: #000;
$Color14: #707070;
$Color15:#B5B5B5;
$Color16: #6E6E6E;
$Color17: #496582;


$urlIcon1: "./../images/icons/ic_form.png";

// googlefonts
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');

// icons
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css");