.accordion__course {
    background-color: $primaryColor;
    color: $Color7;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    padding: 9px;
    width: 100%;
    text-align: center;
    border: none;
    outline: none;
    transition: 0.4s;
}
  
  
  /* Style the accordion panel. Note: hidden by default */
  .accordion__courseShow {
    border: 1px solid rgba(0,0,0,.125);
    border-top: 0px;
    padding: 0 18px;
    padding-top: 10px;
    background-color: white;
    display: none;
    overflow: hidden;
    transition: 0.2s ease-out;

    .primary__button{
        @include primaryButton();
        padding: 10px 60px;
        margin: 20px auto;
    }

    .accordion__content{
        width: 60%;
        margin: auto;
        text-align: left;

        ul{
            list-style: none;
            li{
                text-align: justify;
                font-size: 15px;
                margin-bottom: 10px;

                &::before{
                    content: "\2022";
                    font-size:3.2rem;
                    vertical-align:middle;
                    line-height:20px;
                    color: $primaryColor;
                    }
                }
            }
        }
    }

    @media(max-width:576px){
        .accordion__courseShow {
            padding: 0;
        
            .accordion__content{
                width: 100%;
                text-align: center;
                }
            }
    }

