.icons{
    background:$Color6;
    padding: 40px;

    .icons__header{
        text-align: center;
        margin-bottom: 32px;
    }

    .container{
        padding: 0;

        .gunadarma__icon{
            text-align: center;

            .content{
                text-align: justify;

                p:nth-child(1){
                    color: $primaryColor;
                    font-size: 18px;
                    text-align: center;
                }

                p:nth-child(2){
                    font-weight: lighter;
                    font-size: 16px;
                }
            }
        }
    }

    
}