$primaryColor: #885A89;
$Color2: #8AA7A2;
$Color3: #EF7B39;
$Color4: #D1B590;
$Color5: #CBCBD5;
$Color6: #F4F4F4;
$Color7: #FFF;
$Color8: #6A6A6A;
$Color9: #3b3b3b;
$Color10: #7E3485;
$Color11: #E8E8E8;
$Color12: #BFBFBF;


$urlIcon1: "./../images/icons/ic_form.png";