@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap');
@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
@import "./variables";
@import "./header";
@import "./landingPage/jumbotron";
@import "./landingPage/mainContent";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}



