#alumni{
    text-align: center;
    .alumni__header{
        @include sectionHeader();
    }

    .alumni__mainContext{
        text-align: left;
        padding: 1.5rem;
        font-size: 1rem;
        font-weight: normal;
    }

    .alumni__carouselContext{
        .swiper-container {
            width: 100%;
            height: 100%;
          }
      
          .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;
            padding: 2.5rem 3rem;
      
            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
          }

        .swiper-button-prev,.swiper-button-next{
            border-radius: 50%;
            padding: 1rem;
            width: 1rem;
            height: 1rem;
            background: $Color3;

            &::after{
                font-size: 1.5rem;
                color: $Color7;
            }
        }

        .swiper-button-prev.swiper-button-disabled,.swiper-button-next.swiper-button-disabled{
            background:$Color6;
        }

        .card{
            padding: 2rem;
            box-shadow: 2px 2px 5px #000;

            .alumni__boxImg{
                width: 250px;
                height: 250px;
    
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 50%;
                }
            }

            .alumni__profileContent{
                .alumni__quotes{
                    font-size: 26px;
                    text-align: justify;
                }
            }

            .alumni__profile{
                text-align: left;

                h5{
                    font-size: 24px;
                    font-weight: 600;
                    color: $primaryColor;
                }

                h6{
                    font-weight: normal;
                    color: $Color16;
                }
            }
        }
        
    }

}

.alumni__thumbnail{
    background: $primaryColor;
    padding: 1rem 2rem;
    
    .alumni__thumbnail-left{
        padding: 2rem 3rem;

        h5{
            color: $Color7;
            font-size: 24px;
            font-weight: 700;
            margin-bottom: 1.25rem;

            span{
                color: $Color4;
            }
        }

        .alumni__thumbnailBtn{
            a{
                background: $Color3;
                color: $Color7;
            }
        }
    }
    
    .alumni__thumbnail-right{
        padding: 0;
        padding-bottom: 5rem;
        margin: 0;

        .alumni__imgBx{
            padding-left: 2rem;
            width: 100%;
            height: 100%;
            border-bottom: 6px dashed $Color7;
            border-left: 6px dashed $Color7;
            
            img{
                margin-left: 1rem;
                transform: translateY(5rem);
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
}

.alumni__testimonial{
    text-align: center;
    
    .alumni__testimonialHeader{
        @include sectionHeader();
    }
    
    .alumni__testimonialSlider{
        
        .swiper-container-2 {
            width: 100%;
            height: 100%;
            position: relative;


            .swiper-slide {
                background-position: center;
                background-size: cover;
                // width: 350px;
                // height: 100%;
                padding: 10px 0;

                .card{
                    text-align: center;
                    border-radius: 12px;
                    border: 2px solid rgba($color: #000000, $alpha: .2);

                    .card__boxImg{
                        width: 120px;
                        height: 120px;
                        margin: 20px auto;

                        img{
                            width: 100%;
                            height: 100%;
                            border-radius: 50%;
                        }
                    }

                    .card-title{
                        color: #071c4d;
                        font-size: 20px;
                    }

                    .card-text{
                        font-size: 16px;
                        font-weight: 300;
                    }

                    .card__course{
                        margin: 40px 0 0 0;
                    }
                }
            }
        }

        .swiper-button-prev,.swiper-button-next{
            border-radius: 50%;
            padding: 1rem;
            width: 1rem;
            height: 1rem;
            background: $Color3;
            margin: 0 17rem;

            &::after{
                font-size: 1.5rem;
                color: $Color7;
            }
        }
        .swiper-button-prev.swiper-button-disabled,.swiper-button-next.swiper-button-disabled{
            background:$Color6;
        }
    }
}

@media(max-width:992px){
    #alumni{
        .alumni__carouselContext{

            .card{
                box-shadow: 0 2px 2px #000;

                .alumni__boxImg{
                    margin: 0 auto;
                    width: 125px;
                    height: 125px;
                }
    
                .alumni__profileContent{
                    .alumni__quotes{
                        font-size: 22px;
                    }
                }
    
                .alumni__profile{
    
                    h5,h6{
                        font-size: 18px;
                    }
                }
            }
        }
    }

    .alumni__thumbnail{
        background: $primaryColor;
        padding: 1rem 2rem;
        
        .alumni__thumbnail-left{
            padding: 2rem 3rem;
    
            h5{
                color: $Color7;
                font-size: 24px;
                font-weight: 700;
                margin-bottom: 1.25rem;
    
                span{
                    color: $Color4;
                }
            }
    
            .alumni__thumbnailBtn{
                a{
                    background: $Color3;
                    color: $Color7;
                }
            }
        }
        
        .alumni__thumbnail-right{
            padding-bottom: 0;
    
            .alumni__imgBx{
                border: none;
                
                img{
                    margin-left: 0;
                    transform: translateY(0);
                }
            }
        }
    }

    .alumni__testimonial{
        text-align: center;
        
        .alumni__testimonialHeader{
            @include sectionHeader();
        }
        
        .alumni__testimonialSlider{
            
            .swiper-container-2 {
    
    
                .swiper-slide {
                    padding: 10px 1rem;
                }
            }
    
            .swiper-button-prev,.swiper-button-next{
                display: none;
            }
        }
    }
}