// short courses
.shortCourses__header,.undergraduateCourse__header,.postgraduateCourse__header{
    @include sectionHeader();
}

.swiper-container {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
text-align: center;
font-size: 18px;
background: #fff;
height: calc((100% - 30px) / 2);

/* Center slide text vertically */
display: -webkit-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
-webkit-box-pack: center;
-ms-flex-pack: center;
-webkit-justify-content: center;
justify-content: center;
-webkit-box-align: center;
-ms-flex-align: center;
-webkit-align-items: center;
align-items: center;
}

.shortCourses__mainContent{
    margin: 30px 0 ;
        .card{
            // position: relative;
            border-radius: 10px;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
            border-bottom: 0px;

            .shortCourses__boxImg{
                width: 100%;
                height: 400px;
                border-radius: 10px;
                padding-top: 10px;
                margin-bottom: 20px;
    
                img{
                    height: 100%;
                    width: 100%;
                    object-fit: contain;
                }
            }
    
            .shortCourses__mainContent--description{
                position: relative;
                padding: 5px;
                width: 90%;
                margin: auto;
                line-height: 2rem;
                text-align: right; 
    
                h2{
                    text-align: center;
                    color: $Color2;
                    font-size: 32px;
                    margin-bottom: 20px;
                    font-weight: 600;
                }
        
                p{
                text-align: justify;
                    font-size: 16px;
                }

                hr{
                    color: $primaryColor;
                    font-weight: 400;
                    margin-top: 30px;
                }
            }
        }
}

.shortCourses__context{
    .row{
        row-gap: 20px;
        column-gap: 20px;
    }

    a{
        text-decoration: none;
    }

    .card{
        border-radius: 7px;
        
        .card-body{
            text-align: center;
            background: $Color6;
            color: $primaryColor;
            transition: 0.4s ease-in-out;

            .card-title{
                font-weight: 600;
                font-size: 18px;
            }
        }

        &:hover .card-body, &:active .card-body{
            background: $primaryColor;
            color: $Color6;
        }
    }
}

.gundarGraduates__join{
    position: relative;

    .join__container{
        border-radius: 12px;
        height: 120px;
        width: 80%;
        margin: 0 auto;
        position: relative;
        z-index: 1;
        // background: violet;
        // background-image: url('./../../images/computer-science.png');

        .join__background{
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;

            img{
                border-radius: 18px;
                width: inherit;
                height: inherit;
                object-fit: cover;
            }
        }

        .container{
            position: absolute;
            z-index: 2;
            top: 20%;
            left: 0;
            color: $Color7;
            text-align: left;

            p{
                margin-left: 30px;
                font-size:20px;
            }
            p:nth-child(2){
                color: $Color4;
            }

            .primary__button{
                background-color: $Color3;
                color: $Color7;
                font-weight: bold;
                font-size: 14px;
                border-radius: 7px;
                padding: 10px 30px;
                margin-right:20px;
            }
        }
    }
}

// undergraduate courses
#undergraduateCourse , #postgraduateCourse{
    text-align: center;
    margin-bottom: 20px;

    .undergraduateCourse__context,.postgraduateCourse__context{
        text-align: left;
        .card{

            .cardBachelor__header{
                padding: 60px 60px 0;

                h2{
                font-size: 24px;
                font-weight: 600;
                color: $primaryColor;
                }

                p{
                    font-size: 16px;
                    color: $Color5;
                    font-weight: 400;
                }
            }

            .cardBachelor__content--1{
                padding: 0 60px;
            }

            h4{
                font-size: 22px;
                color: $primaryColor;
                font-weight: 500;
            }

            ul, ol {
                padding-left: 1rem;
            }

            ul {
                list-style-type: square;

                li {
                    padding-left: 0rem;
                    &::marker{
                        color: $primaryColor;
                        font-size: 22px;
                    }
                }
            }

            li{
                font-size: 16px;
                padding-left: 1rem;
                text-align: justify;
            }


            .accordion__undergraduate{
                padding: 0 45px;

                .important__notice{
                    padding: 20px 80px;

                    ul{
                        padding-left: 3rem;
                    }
                }
            }
        }
    }

    .formSearch{
        select.form-select.form-select-sm{
            border: none;
            border-bottom: 1px solid;
            border-radius: 0;
            color: $primaryColor;

            &:focus{
                box-shadow: none;
                outline: none;
            }
        }

        select.form-select.form-select-sm option{
            color: $Color13;
            &:first-child{
                color: $primaryColor;
            }
        }
    }

    .menuSearch{
        .menuSearch__title{
            text-align: center;
            text-transform: uppercase;
            margin-bottom: 40px;
        }

        button.accordion-button:not(.collapsed){
            background: $primaryColor;
            color: $Color7;
            font-size: 18px;
            font-weight: 700;

            &:focus{
                outline: none;
                box-shadow: none;
            }

            &::after{
                color:$Color7;
            }
        }

        button.accordion-button.collapsed{
            background: $Color5;
            color: $primaryColor;
            font-size: 18px;
            font-weight: 700;

            &:focus{
                outline: none;
                box-shadow: none;
            }

            &::after{
                color: blue;
            }
        }

        .accordion-collapse{
            .accordionCollapse__title{
                color: $primaryColor;
                font-weight: 600;
                font-size: 18px;
            }

            h6{
                font-weight: 500;
            }

            .accordionCollapse__courseInformation{
                text-align: justify;
                font-size: 15px;
            }

            .tuitionFee__content{
                position: relative;
                &::after{
                    content: "";
                    position: absolute;
                    // display: block;
                    border-right: 1px solid $Color5;
                    height: 50%;
                    top: 1rem;
                    right: 1rem;
                }
            }

            .button__apply{
                margin-top: 10px;
                text-align: center;
                display: inline-block;

                .btn__primary{
                    @include primaryButton();
                }
            }
        }
    }
}

@media(max-width:576px){
    .gundarGraduates__join{
        .join__container{

            .container{
                top: 10px;
                text-align: right;

                p{
                    text-align: left;
                    margin: 0;
                    font-size:16px;
                }

                .primary__button{
                    padding: 5px 30px;
                    margin-top: 10px;
                }
            }
        }
    }

    .shortCourses__mainContent{
            .card{
                .shortCourses__boxImg{
                    height: 100%;
                }
        
                .shortCourses__mainContent--description{
                    h2{
                        font-size: 24px;
                    }
            
                    p{
                        font-size: 14px;
                    }
                }
            }
    }

    #undergraduateCourse,#postgraduateCourse{
        .undergraduateCourse__context , .postgraduateCourse__context{
            .card{
                .cardBachelor__header{
                    padding: 20px;

                    h2{
                    font-size: 22px;
                    }
                }

                .cardBachelor__content--1{
                    padding: 0 20px 0;
                }

                h4{
                    font-size: 20px;
                    color: $primaryColor;
                    font-weight: 500;
                }

                ul, ol {
                    padding-left: .5rem;
                }

                li{
                    font-size: 15px;
                    padding-left: .5rem;
                }

                .accordion__undergraduate{
                    padding: 0 15px;

                    .important__notice{
                        padding: 20px 15px;

                        ul{
                            padding-left: 1rem;
                        }
                    }
                }
            }
        }

        .menuSearch{
    
            button.accordion-button:not(.collapsed){
                font-size: 16px;
            }
    
            button.accordion-button.collapsed{
                font-size: 16px;
            }
            .accordion-collapse{
                .accordionCollapse__title{
                    font-size: 16px;
                }

                h6{
                    font-size: 14px;
                }

                p{
                    font-size: 14px;
                }
    
                .tuitionFee__content{
                    position: relative;
                    &::after{
                        display: none;
                    }
                }
            }
        }
    }
}